In [1]:
import pandas as pd
#from sklearn.utils import shuffle
%matplotlib inline
import seaborn as sb

In [2]:
df_am = pd.read_csv("/data/Amharic News Dataset.csv")

df_am.head()

,headline,category,date,views,article,link
0,የኦሊምፒክ ማጣሪያ ተሳታፊዎች የሚለዩበት ቻምፒዮና እየተካሄደ ይገኛል,ስፖርት,"January 14, 2021",2,ብርሃን ፈይሳየኢትዮጵያ ቦክስ ፌዴሬሽን በየዓመቱ የሚያዘጋጀው የክለቦች ቻ...,https://www.press.et/Ama/?p=39481
1,አዲስ ዘመን ድሮ,መዝናኛ,"December 28, 2020",4,የአዲስ ዘመን ጋዜጣ ቀደምት ዘገባዎች በእጅጉ ተነባቢ ዛሬም ላገኛቸው በ...,https://www.press.et/Ama/?p=38334
2,የአረንጓዴ ጎርፍ በጎ አድራጎት አምባሳደሮች ተሰየሙ,ስፖርት,"January 6, 2021",6,ቦጋለ አበበየአዲስ አበባ ከተማ አስተዳደር ስፖርት ኮሚሽን ከኢትዮጵያ አረ...,https://www.press.et/Ama/?p=39010
3,የሊጉ በቢዝነስ ሞዴል መመራት አበረታች ጅምር መሆኑ ተገለጸ,ስፖርት,"January 6, 2021",5,ብርሃን ፈይሳአዲስ አበባ፡- የኢትዮጵያ ፕሪምየር ሊግ በሼር ካምፓኒ እንዲ...,https://www.press.et/Ama/?p=39011
4,የኦሊምፒክ ሥራ አስፈፃሚው እስከ ቶኪዮ ኦሊምፒክ ማግስት ይቀጥላል,ስፖርት,"January 6, 2021",12,ቦጋለ አበበ የኢትዮጵያ ኦሊምፒክ ኮሚቴ አርባ አምስተኛ መደበኛ ጠቅላላ ጉ...,https://www.press.et/Ama/?p=39012

In [3]:
df_am.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51483 entries, 0 to 51482
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   headline  51470 non-null  object
 1   category  51482 non-null  object
 2   date      51483 non-null  object
 3   views     51483 non-null  object
 4   article   51483 non-null  object
 5   link      51483 non-null  object
dtypes: object(6)
memory usage: 2.4+ MB

In [4]:
from sklearn.utils import shuffle
data = shuffle(df_am)
data.head()

,headline,category,date,views,article,link
19808,የአውሮፕላን ነዳጅን ጨምሮ ሌሎች የነዳጅ ምርቶች ዋጋ ባለበት እንደሚቀጥል...,ቢዝነስ,"May 9, 2020",433,አዲስ አበባ ፣ ግንቦት 1 ፣ 2012 (ኤፍ.ቢ.ሲ) የአውሮፕላን ነዳጅን ...,https://www.fanabc.com/%e1%8b%a8%e1%8a%a0%e1%8...
37820,«እናንብብ እናብብ » ስለ ተሰኘው ሀገራዊ ዘመቻ፤ ቆይታ ከኤልያስ ወንድሙ ጋር,ሀገር አቀፍ ዜና,"May 20, 2020",Unknown,ዓለም አቀፉ የኮሮና ቫይረስ በቢሊየኖች የሚቆጠር ህዝብ ከቤት እንዲውል ም...,https://amharic.voanews.com//a/5428356.html
21252,በሲዳማ ሕዝበ ውሳኔ አሥረኛውን ክልል የሚያስመሠርት ከፍተኛ ድምፅ ተገኘ,ፖለቲካ,24 November 2019,Unknown,በደቡብ ክልል የሲዳማ ዞንን የክልልነት ጥያቄ ለመወሰን ረቡዕ ኅዳር 10 ...,https://www.ethiopianreporter.com/article/17395
42924,ፕሬዚዳንት ቦሩት ፓሆር የኢትዮጵያ ጉብኝታቸውን ጀመሩ,ቢዝነስ,"October 15, 2018",Unknown,የስሎቬኒያ ፕሬዝዳንት ቦሩት ፓሆር በኢትዮጵያ የሚያደርጉተን ይፋዊ ጉብኝት...,https://waltainfo.com/am/23599/
46023,121ኛው የአድዋ ድል በዓል ህዳሲያችንን ለማረጋገጥ ቃል የሚንገባበት ዕለ...,ፖለቲካ,"February 25, 2017",Unknown,የዘንድሮው 121ኛው የአድዋ ድል በዓል በአገሪቱ የተቀጣጠለውን የህዳሴ ጉ...,https://waltainfo.com/am/28941/

In [5]:
data['word_len'] = data['article'].str.split().str.len()
data.head()

,headline,category,date,views,article,link,word_len
19808,የአውሮፕላን ነዳጅን ጨምሮ ሌሎች የነዳጅ ምርቶች ዋጋ ባለበት እንደሚቀጥል...,ቢዝነስ,"May 9, 2020",433,አዲስ አበባ ፣ ግንቦት 1 ፣ 2012 (ኤፍ.ቢ.ሲ) የአውሮፕላን ነዳጅን ...,https://www.fanabc.com/%e1%8b%a8%e1%8a%a0%e1%8...,89
37820,«እናንብብ እናብብ » ስለ ተሰኘው ሀገራዊ ዘመቻ፤ ቆይታ ከኤልያስ ወንድሙ ጋር,ሀገር አቀፍ ዜና,"May 20, 2020",Unknown,ዓለም አቀፉ የኮሮና ቫይረስ በቢሊየኖች የሚቆጠር ህዝብ ከቤት እንዲውል ም...,https://amharic.voanews.com//a/5428356.html,105
21252,በሲዳማ ሕዝበ ውሳኔ አሥረኛውን ክልል የሚያስመሠርት ከፍተኛ ድምፅ ተገኘ,ፖለቲካ,24 November 2019,Unknown,በደቡብ ክልል የሲዳማ ዞንን የክልልነት ጥያቄ ለመወሰን ረቡዕ ኅዳር 10 ...,https://www.ethiopianreporter.com/article/17395,271
42924,ፕሬዚዳንት ቦሩት ፓሆር የኢትዮጵያ ጉብኝታቸውን ጀመሩ,ቢዝነስ,"October 15, 2018",Unknown,የስሎቬኒያ ፕሬዝዳንት ቦሩት ፓሆር በኢትዮጵያ የሚያደርጉተን ይፋዊ ጉብኝት...,https://waltainfo.com/am/23599/,108
46023,121ኛው የአድዋ ድል በዓል ህዳሲያችንን ለማረጋገጥ ቃል የሚንገባበት ዕለ...,ፖለቲካ,"February 25, 2017",Unknown,የዘንድሮው 121ኛው የአድዋ ድል በዓል በአገሪቱ የተቀጣጠለውን የህዳሴ ጉ...,https://waltainfo.com/am/28941/,431

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51483 entries, 19808 to 14287
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   headline  51470 non-null  object
 1   category  51482 non-null  object
 2   date      51483 non-null  object
 3   views     51483 non-null  object
 4   article   51483 non-null  object
 5   link      51483 non-null  object
 6   word_len  51483 non-null  int64
dtypes: int64(1), object(6)
memory usage: 3.1+ MB

In [7]:
import re
#method to normalize character level missmatch such as ጸሀይ and ፀሐይ
def normalize_char_level_missmatch(input_token):
    rep1=re.sub('[ሃኅኃሐሓኻ]','ሀ',input_token)
    rep2=re.sub('[ሑኁዅ]','ሁ',rep1)
    rep3=re.sub('[ኂሒኺ]','ሂ',rep2)
    rep4=re.sub('[ኌሔዄ]','ሄ',rep3)
    rep5=re.sub('[ሕኅ]','ህ',rep4)
    rep6=re.sub('[ኆሖኾ]','ሆ',rep5)
    rep7=re.sub('[ሠ]','ሰ',rep6)
    rep8=re.sub('[ሡ]','ሱ',rep7)
    rep9=re.sub('[ሢ]','ሲ',rep8)
    rep10=re.sub('[ሣ]','ሳ',rep9)
    rep11=re.sub('[ሤ]','ሴ',rep10)
    rep12=re.sub('[ሥ]','ስ',rep11)
    rep13=re.sub('[ሦ]','ሶ',rep12)
    rep14=re.sub('[ዓኣዐ]','አ',rep13)
    rep15=re.sub('[ዑ]','ኡ',rep14)
    rep16=re.sub('[ዒ]','ኢ',rep15)
    rep17=re.sub('[ዔ]','ኤ',rep16)
    rep18=re.sub('[ዕ]','እ',rep17)
    rep19=re.sub('[ዖ]','ኦ',rep18)
    rep20=re.sub('[ጸ]','ፀ',rep19)
    rep21=re.sub('[ጹ]','ፁ',rep20)
    rep22=re.sub('[ጺ]','ፂ',rep21)
    rep23=re.sub('[ጻ]','ፃ',rep22)
    rep24=re.sub('[ጼ]','ፄ',rep23)
    rep25=re.sub('[ጽ]','ፅ',rep24)
    rep26=re.sub('[ጾ]','ፆ',rep25)
    #Normalizing words with Labialized Amharic characters such as በልቱዋል or  በልቱአል to  በልቷል  
    rep27=re.sub('(ሉ[ዋአ])','ሏ',rep26)
    rep28=re.sub('(ሙ[ዋአ])','ሟ',rep27)
    rep29=re.sub('(ቱ[ዋአ])','ቷ',rep28)
    rep30=re.sub('(ሩ[ዋአ])','ሯ',rep29)
    rep31=re.sub('(ሱ[ዋአ])','ሷ',rep30)
    rep32=re.sub('(ሹ[ዋአ])','ሿ',rep31)
    rep33=re.sub('(ቁ[ዋአ])','ቋ',rep32)
    rep34=re.sub('(ቡ[ዋአ])','ቧ',rep33)
    rep35=re.sub('(ቹ[ዋአ])','ቿ',rep34)
    rep36=re.sub('(ሁ[ዋአ])','ኋ',rep35)
    rep37=re.sub('(ኑ[ዋአ])','ኗ',rep36)
    rep38=re.sub('(ኙ[ዋአ])','ኟ',rep37)
    rep39=re.sub('(ኩ[ዋአ])','ኳ',rep38)
    rep40=re.sub('(ዙ[ዋአ])','ዟ',rep39)
    rep41=re.sub('(ጉ[ዋአ])','ጓ',rep40)
    rep42=re.sub('(ደ[ዋአ])','ዷ',rep41)
    rep43=re.sub('(ጡ[ዋአ])','ጧ',rep42)
    rep44=re.sub('(ጩ[ዋአ])','ጯ',rep43)
    rep45=re.sub('(ጹ[ዋአ])','ጿ',rep44)
    rep46=re.sub('(ፉ[ዋአ])','ፏ',rep45)
    rep47=re.sub('[ቊ]','ቁ',rep46) #ቁ can be written as ቊ
    rep48=re.sub('[ኵ]','ኩ',rep47) #ኩ can be also written as ኵ  
    return rep48

In [8]:
data['article'] = data['article'].str.replace('[^\w\s]','')

In [9]:
data['headline'].isnull().sum()

13

In [10]:
data.dropna(subset=['headline'], inplace=True)

In [11]:
data['article'] = data['article'].apply(lambda x: normalize_char_level_missmatch(x))
data['headline'] = data['headline'].apply(lambda x: normalize_char_level_missmatch(x))

In [12]:
n_data = data[['article','headline']]
n_data.head()

,article,headline
19808,አዲስ አበባ ፣ ግንቦት 1 ፣ 2012 (ኤፍ.ቢ.ሲ) የአውሮፕላን ነዳጅን ...,የአውሮፕላን ነዳጅን ጨምሮ ሌሎች የነዳጅ ምርቶች ዋጋ ባለበት እንደሚቀጥል...
37820,አለም አቀፉ የኮሮና ቫይረስ በቢሊየኖች የሚቆጠር ህዝብ ከቤት እንዲውል ም...,«እናንብብ እናብብ » ስለ ተሰኘው ሀገራዊ ዘመቻ፤ ቆይታ ከኤልያስ ወንድሙ ጋር
21252,በደቡብ ክልል የሲዳማ ዞንን የክልልነት ጥያቄ ለመወሰን ረቡእ ሀዳር 10 ...,በሲዳማ ህዝበ ውሳኔ አስረኛውን ክልል የሚያስመሰርት ከፍተኛ ድምፅ ተገኘ
42924,የስሎቬኒያ ፕሬዝዳንት ቦሩት ፓሆር በኢትዮጵያ የሚያደርጉተን ይፋዊ ጉብኝት...,ፕሬዚዳንት ቦሩት ፓሆር የኢትዮጵያ ጉብኝታቸውን ጀመሩ
46023,የዘንድሮው 121ኛው የአድዋ ድል በአል በአገሪቱ የተቀጣጠለውን የህዳሴ ጉ...,121ኛው የአድዋ ድል በአል ህዳሲያችንን ለማረጋገጥ ቃል የሚንገባበት እለ...

In [13]:
da = normalize_char_level_missmatch("በዐለም ላይ ታላላቅና ዝነኛ የጎዳና ላይ")
da

'በአለም ላይ ታላላቅና ዝነኛ የጎዳና ላይ'

In [14]:
# Checking for any gibberish, non-Amharic or unexpected characters

# Pattern for Geez (Amharic) characters, numbers, spaces, and specific punctuations
geez_pattern = re.compile(r'[\u1200-\u137F0-9\s‹›፡።፣፤፦]')

def has_non_amharic(text):
  '''
  Determine if the given text contains significant non-Amharic characters (50% or more).

  Args:
    text (str): The text to be analyzed.

  Returns:
    bool: True if non-Amharic content is significant, False otherwise.
  '''
  # Checking if the text is a string
  if not isinstance(text, str):
      return False

  # Finding the regex pattern for Amharic
  amharic_chars = geez_pattern.findall(text)

  # 80% threshold to say Amharic or non-Amharic (i.e., at least 80% of the characters have to be Amharic)
  # This percentage was set to 50% during the preparation of Amharic-1
  if len(amharic_chars) / len(text) < 0.8:
    return True

  return False

# Applying non-Amharic check
n_data['is_non_amharic_article'] = n_data['article'].apply(has_non_amharic) # On the text column
n_data['is_non_amharic_headline'] = n_data['headline'].apply(has_non_amharic) # On the summary column

# Filtering out non-Amharic rows
filtered_data = n_data[~(n_data['is_non_amharic_article'] | n_data['is_non_amharic_headline'])]

print(filtered_data.head())

/tmp/ipykernel_28712/2836481249.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_data['is_non_amharic_article'] = n_data['article'].apply(has_non_amharic) # On the text column

                                                 article  \
19808  አዲስ አበባ ፣ ግንቦት 1 ፣ 2012 (ኤፍ.ቢ.ሲ) የአውሮፕላን ነዳጅን ...
37820  አለም አቀፉ የኮሮና ቫይረስ በቢሊየኖች የሚቆጠር ህዝብ ከቤት እንዲውል ም...
21252  በደቡብ ክልል የሲዳማ ዞንን የክልልነት ጥያቄ ለመወሰን ረቡእ ሀዳር 10 ...
42924  የስሎቬኒያ ፕሬዝዳንት ቦሩት ፓሆር በኢትዮጵያ የሚያደርጉተን ይፋዊ ጉብኝት...
46023  የዘንድሮው 121ኛው የአድዋ ድል በአል በአገሪቱ የተቀጣጠለውን የህዳሴ ጉ...

                                                headline  \
19808  የአውሮፕላን ነዳጅን ጨምሮ ሌሎች የነዳጅ ምርቶች ዋጋ ባለበት እንደሚቀጥል...
37820  «እናንብብ እናብብ » ስለ ተሰኘው ሀገራዊ ዘመቻ፤ ቆይታ ከኤልያስ ወንድሙ ጋር
21252      በሲዳማ ህዝበ ውሳኔ አስረኛውን ክልል የሚያስመሰርት ከፍተኛ ድምፅ ተገኘ
42924                 ፕሬዚዳንት ቦሩት ፓሆር  የኢትዮጵያ ጉብኝታቸውን ጀመሩ
46023  121ኛው የአድዋ ድል በአል ህዳሲያችንን ለማረጋገጥ ቃል የሚንገባበት እለ...

       is_non_amharic_article  is_non_amharic_headline
19808                   False                    False
37820                   False                    False
21252                   False                    False
42924                   False                    False
46023                   False                    False

/tmp/ipykernel_28712/2836481249.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  n_data['is_non_amharic_headline'] = n_data['headline'].apply(has_non_amharic) # On the summary column

In [15]:
# Looking at the number of tokens
# Using mT5's tokenizer to find the number of tokens
from transformers import MT5Tokenizer
tokenizer = MT5Tokenizer.from_pretrained('google/mt5-small')

def count_tokens(text, tokenizer):
    '''
    Count the number of tokens in a given text using a specified tokenizer.

    Args:
        text (str): The text to be tokenized.
        tokenizer: The tokenizer to be used for tokenizing the text.

    Returns:
        int: The total number of tokens in the tokenized text.
    '''

    # Encoding the text using the tokenizer
    tokens = tokenizer.encode(text, add_special_tokens=True)

    # Returning the number of tokens
    return len(tokens)

/home/mahbubah/Desktop/week-6/.venv/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
None of PyTorch, TensorFlow >= 2.0, or Flax have been found. Models won't be available and only tokenizers, configuration and file/data utilities can be used.
You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565

In [16]:
from collections import Counter

#Statistical analysis of the dataset
filtered_data['article_length'] = filtered_data['article'].apply(len)
filtered_data['headline_length'] = filtered_data['headline'].apply(len)

# Word counts
filtered_data['article_word_count'] = filtered_data['article'].apply(lambda x: len(x.split()))
filtered_data['headline_word_count'] = filtered_data['headline'].apply(lambda x: len(x.split()))

# Token counts
filtered_data['article_token_count'] = filtered_data['article'].apply(lambda x: count_tokens(x, tokenizer))
filtered_data['headline_token_count'] = filtered_data['headline'].apply(lambda x: count_tokens(x, tokenizer))

# Descriptive statistics
print(filtered_data[['article_length', 'headline_length', 'article_word_count', 'headline_word_count', 'article_token_count', 'headline_token_count']].describe())

# Counting most common words
all_words = ' '.join(filtered_data['article']).split()
word_counts = Counter(all_words)
print("Most common words: ", word_counts.most_common(10))

/tmp/ipykernel_28712/270046965.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['article_length'] = filtered_data['article'].apply(len)
/tmp/ipykernel_28712/270046965.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['headline_length'] = filtered_data['headline'].apply(len)
/tmp/ipykernel_28712/270046965.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['article_word_count'] = filtered_data['article'].apply(lambda x: len(x.split()))
/tmp/ipykernel_28712/270046965.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['headline_word_count'] = filtered_data['headline'].apply(lambda x: len(x.split()))
/tmp/ipykernel_28712/270046965.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['article_token_count'] = filtered_data['article'].apply(lambda x: count_tokens(x, tokenizer))
/tmp/ipykernel_28712/270046965.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['headline_token_count'] = filtered_data['headline'].apply(lambda x: count_tokens(x, tokenizer))

       article_length  headline_length  article_word_count  \
count    50684.000000     50684.000000        50684.000000
mean      1340.279536        45.967209          248.758385
std       1285.543358        18.780061          241.694061
min          1.000000         2.000000            0.000000
25%        552.000000        34.000000          102.000000
50%        979.000000        44.000000          179.000000
75%       1698.000000        56.000000          314.000000
max      36216.000000      1421.000000         6738.000000

       headline_word_count  article_token_count  headline_token_count
count         50684.000000         50684.000000          50684.000000
mean              9.239681           860.451148             31.920961
std               3.629047           818.879162             12.228569
min               0.000000             1.000000              1.000000
25%               7.000000           360.000000             24.000000
50%               9.000000           629.000000             31.000000
75%              11.000000          1088.000000             38.000000
max             281.000000         22320.000000            902.000000
Most common words:  [('ላይ', 141073), ('እና', 96376), ('ወደ', 68746), ('ጋር', 58711), ('ውስጥ', 51185), ('አቶ', 47724), ('ነው', 45336), ('ከተማ', 33317), ('መሆኑን', 33098), ('ቤት', 32735)]

In [17]:
def remove_punc_and_special_chars(text):
  '''
    Remove punctuation and special characters from a given text.

    Args:
        text (str): The text from which to remove punctuation and special characters.

    Returns:
        str: The text stripped of punctuation and special characters.
  '''

  normalized_text = re.sub('[\!\@\#$\%\^\«\»\&\*\…\{\}\;\“\”\›\’\‘\"\'\:\,\.\‹\/\<\>\?\\|\`\´\~\-\=\+\፡\፤\;\፦\፥\፧\፨\፠\፣]', '',text)
  return normalized_text

# Remove all ascii characters
def remove_ascii_and_numbers(text_input):
  '''
    Remove ASCII characters and numbers from the given text.

    Args:
        text_input (str): The text from which to remove ASCII characters and numbers.

    Returns:
        str: The text without any ASCII characters and numbers.
  '''

  return re.sub('[A-Za-z]','',text_input)
     

# Normalizing the article and headline columns using the three normalization functions
filtered_data['article'] = filtered_data['article'].apply(
    lambda x: remove_ascii_and_numbers(
        remove_punc_and_special_chars(
            normalize_char_level_missmatch(x))))

filtered_data['headline'] = filtered_data['headline'].apply(
    lambda x: remove_ascii_and_numbers(
        remove_punc_and_special_chars(
            normalize_char_level_missmatch(x))))

# Updating the statistical columns following the normalization steps
# Length of the article and headline
filtered_data['article_length'] = filtered_data['article'].apply(len)
filtered_data['headline_length'] = filtered_data['headline'].apply(len)

# Word count in the article and headline
filtered_data['article_word_count'] = filtered_data['article'].apply(lambda x: len(x.split()))
filtered_data['headline_word_count'] = filtered_data['headline'].apply(lambda x: len(x.split()))

# Token count in the article and headline
filtered_data['article_token_count'] = filtered_data['article'].apply(lambda x: count_tokens(x, tokenizer))
filtered_data['headline_token_count'] = filtered_data['headline'].apply(lambda x: count_tokens(x, tokenizer))

# Showing descriptive statistics of the token counts
filtered_data[['article_token_count', 'headline_token_count']].describe()

/tmp/ipykernel_28712/77299415.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['article'] = filtered_data['article'].apply(
/tmp/ipykernel_28712/77299415.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['headline'] = filtered_data['headline'].apply(
/tmp/ipykernel_28712/77299415.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['article_length'] = filtered_data['article'].apply(len)
/tmp/ipykernel_28712/77299415.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['headline_length'] = filtered_data['headline'].apply(len)
/tmp/ipykernel_28712/77299415.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['article_word_count'] = filtered_data['article'].apply(lambda x: len(x.split()))
/tmp/ipykernel_28712/77299415.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['headline_word_count'] = filtered_data['headline'].apply(lambda x: len(x.split()))
/tmp/ipykernel_28712/77299415.py:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['article_token_count'] = filtered_data['article'].apply(lambda x: count_tokens(x, tokenizer))
/tmp/ipykernel_28712/77299415.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_data['headline_token_count'] = filtered_data['headline'].apply(lambda x: count_tokens(x, tokenizer))

       article_token_count  headline_token_count
count         50684.000000          50684.000000
mean            844.688541             31.494633
std             801.854609             12.041356
min               1.000000              1.000000
25%             354.000000             24.000000
50%             617.000000             30.000000
75%            1070.000000             38.000000
max           21493.000000            880.000000

In [1]:
def display_tokens(text, tokenizer):
    '''
    Display the tokens of a given text using a specified tokenizer.

    Args:
        text (str): The text to be tokenized and displayed.
        tokenizer: The tokenizer to be used for tokenizing the text.

    Returns:
        None
    '''

    # Tokenize the text
    tokens = tokenizer.tokenize(text)

    # Print the tokens
    print("Tokens:")
    print(tokens)


# Concatenate all articles into a single string
text = ' '.join(filtered_data['article'])

# Display the tokens
display_tokens(text, tokenizer)

NameError: name 'filtered_data' is not defined