In [19]:
import pandas as pd
#from sklearn.utils import shuffle
%matplotlib inline
import seaborn as sb

In [20]:
df_am = pd.read_csv("../../data/messages.csv")

df_am.head()

  Unnamed: 0
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN

In [21]:
df_am.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67942 entries, 0 to 67941
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12010 non-null  object
dtypes: object(1)
memory usage: 530.9+ KB

In [22]:
df_am.dropna(inplace = True)

In [23]:
df_am.head()

                                             Unnamed: 0
59    ğŸ‡ªğŸ‡¹ á‹¨á–áˆˆá‰²áŠ« á“áˆ­á‰²á‹á‰½ áˆáŠ• á‹­áˆ‹áˆ‰ ? ğŸ‡ªğŸ‡¹\n\n" áŒáŒ­á‰¶á‰½ áŠ¨á‰µáŠ•áˆ½ áŠáŒˆáˆ­ ...
130   ğŸ‡ªğŸ‡¹ á‹¨á–áˆˆá‰²áŠ« á“áˆ­á‰²á‹á‰½ áˆáŠ• á‹­áˆ‹áˆ‰ ? ğŸ‡ªğŸ‡¹\n\n" ... áŠ áˆáŠ•áˆ á‰¢áˆ†áŠ• áˆˆ...
241   " á‰ 5á‰± áŠ®áˆªá‹°áˆ­ áˆáˆ›á‰µ áˆµáˆ« 16 áˆºáˆ… áˆ°á‹á‰½ á‹¨áˆµáˆ« á‹•á‹µáˆ á‰°áˆáŒ¥áˆ®áˆ‹á‰¸á‹‹áˆ "...
897   #Update\n\náŠ¦áŠ­áˆáŠ­ áˆá‰°áˆ­áˆµ â€œáˆµáˆœáŠ• áŠ áŒ¥áá‰·áˆâ€ áˆ‹áˆˆá‹ á‰±áˆªáˆµá‰µ á‰³áŠ­áˆ² ...
1308  #á‹°áˆ´\n\nâ€œ áŠ áŠ•á‹µ á‰€áŠ• á‹áˆ³áŠ” á‰°áˆ°áŒ¥á‰¶á‰£á‰¸á‹ áŠ¨áŠ áŠ«á‰£á‰¢ á‰¥áŠ­áˆˆá‰µ áŠáŒ» áŠ¥áŠ•á‹²áˆ†...

In [24]:
df_am.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12010 entries, 59 to 67940
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12010 non-null  object
dtypes: object(1)
memory usage: 187.7+ KB

# Character level normalization

In [25]:
import re
#method to normalize character level mismatch such as áŒ¸áˆ€á‹­ and á€áˆá‹­
def normalize_char_level_mismatch(input_token):
    rep1=re.sub('[áˆƒáŠ…áŠƒáˆáˆ“áŠ»]','áˆ€',input_token)
    rep2=re.sub('[áˆ‘áŠá‹…]','áˆ',rep1)
    rep3=re.sub('[áŠ‚áˆ’áŠº]','áˆ‚',rep2)
    rep4=re.sub('[áŠŒáˆ”á‹„]','áˆ„',rep3)
    rep5=re.sub('[áˆ•áŠ…]','áˆ…',rep4)
    rep6=re.sub('[áŠ†áˆ–áŠ¾]','áˆ†',rep5)
    rep7=re.sub('[áˆ ]','áˆ°',rep6)
    rep8=re.sub('[áˆ¡]','áˆ±',rep7)
    rep9=re.sub('[áˆ¢]','áˆ²',rep8)
    rep10=re.sub('[áˆ£]','áˆ³',rep9)
    rep11=re.sub('[áˆ¤]','áˆ´',rep10)
    rep12=re.sub('[áˆ¥]','áˆµ',rep11)
    rep13=re.sub('[áˆ¦]','áˆ¶',rep12)
    rep14=re.sub('[á‹“áŠ£á‹]','áŠ ',rep13)
    rep15=re.sub('[á‹‘]','áŠ¡',rep14)
    rep16=re.sub('[á‹’]','áŠ¢',rep15)
    rep17=re.sub('[á‹”]','áŠ¤',rep16)
    rep18=re.sub('[á‹•]','áŠ¥',rep17)
    rep19=re.sub('[á‹–]','áŠ¦',rep18)
    rep20=re.sub('[áŒ¸]','á€',rep19)
    rep21=re.sub('[áŒ¹]','á',rep20)
    rep22=re.sub('[áŒº]','á‚',rep21)
    rep23=re.sub('[áŒ»]','áƒ',rep22)
    rep24=re.sub('[áŒ¼]','á„',rep23)
    rep25=re.sub('[áŒ½]','á…',rep24)
    rep26=re.sub('[áŒ¾]','á†',rep25)
    #Normalizing words with Labialized Amharic characters such as á‰ áˆá‰±á‹‹áˆ or  á‰ áˆá‰±áŠ áˆ to  á‰ áˆá‰·áˆ  
    rep27=re.sub('(áˆ‰[á‹‹áŠ ])','áˆ',rep26)
    rep28=re.sub('(áˆ™[á‹‹áŠ ])','áˆŸ',rep27)
    rep29=re.sub('(á‰±[á‹‹áŠ ])','á‰·',rep28)
    rep30=re.sub('(áˆ©[á‹‹áŠ ])','áˆ¯',rep29)
    rep31=re.sub('(áˆ±[á‹‹áŠ ])','áˆ·',rep30)
    rep32=re.sub('(áˆ¹[á‹‹áŠ ])','áˆ¿',rep31)
    rep33=re.sub('(á‰[á‹‹áŠ ])','á‰‹',rep32)
    rep34=re.sub('(á‰¡[á‹‹áŠ ])','á‰§',rep33)
    rep35=re.sub('(á‰¹[á‹‹áŠ ])','á‰¿',rep34)
    rep36=re.sub('(áˆ[á‹‹áŠ ])','áŠ‹',rep35)
    rep37=re.sub('(áŠ‘[á‹‹áŠ ])','áŠ—',rep36)
    rep38=re.sub('(áŠ™[á‹‹áŠ ])','áŠŸ',rep37)
    rep39=re.sub('(áŠ©[á‹‹áŠ ])','áŠ³',rep38)
    rep40=re.sub('(á‹™[á‹‹áŠ ])','á‹Ÿ',rep39)
    rep41=re.sub('(áŒ‰[á‹‹áŠ ])','áŒ“',rep40)
    rep42=re.sub('(á‹°[á‹‹áŠ ])','á‹·',rep41)
    rep43=re.sub('(áŒ¡[á‹‹áŠ ])','áŒ§',rep42)
    rep44=re.sub('(áŒ©[á‹‹áŠ ])','áŒ¯',rep43)
    rep45=re.sub('(áŒ¹[á‹‹áŠ ])','áŒ¿',rep44)
    rep46=re.sub('(á‰[á‹‹áŠ ])','á',rep45)
    rep47=re.sub('[á‰Š]','á‰',rep46) #á‰ can be written as á‰Š
    rep48=re.sub('[áŠµ]','áŠ©',rep47) #áŠ© can be also written as áŠµ  
    return rep48

In [26]:
df_am['Unnamed: 0'] = df_am['Unnamed: 0'].str.replace('[^\w\s]','')

df_am['Unnamed: 0'] = df_am['Unnamed: 0'].apply(lambda x: normalize_char_level_mismatch(x))

In [27]:
df_am

                                              Unnamed: 0
59     ğŸ‡ªğŸ‡¹ á‹¨á–áˆˆá‰²áŠ« á“áˆ­á‰²á‹á‰½ áˆáŠ• á‹­áˆ‹áˆ‰ ? ğŸ‡ªğŸ‡¹\n\n" áŒáŒ­á‰¶á‰½ áŠ¨á‰µáŠ•áˆ½ áŠáŒˆáˆ­ ...
130    ğŸ‡ªğŸ‡¹ á‹¨á–áˆˆá‰²áŠ« á“áˆ­á‰²á‹á‰½ áˆáŠ• á‹­áˆ‹áˆ‰ ? ğŸ‡ªğŸ‡¹\n\n" ... áŠ áˆáŠ•áˆ á‰¢áˆ†áŠ• áˆˆ...
241    " á‰ 5á‰± áŠ®áˆªá‹°áˆ­ áˆáˆ›á‰µ áˆµáˆ« 16 áˆºáˆ… áˆ°á‹á‰½ á‹¨áˆµáˆ« áŠ¥á‹µáˆ á‰°áˆáŒ¥áˆ®áˆ‹á‰¸á‹‹áˆ "...
897    #Update\n\náŠ¦áŠ­áˆáŠ­ áˆá‰°áˆ­áˆµ â€œáˆµáˆœáŠ• áŠ áŒ¥áá‰·áˆâ€ áˆ‹áˆˆá‹ á‰±áˆªáˆµá‰µ á‰³áŠ­áˆ² ...
1308   #á‹°áˆ´\n\nâ€œ áŠ áŠ•á‹µ á‰€áŠ• á‹áˆ³áŠ” á‰°áˆ°áŒ¥á‰¶á‰£á‰¸á‹ áŠ¨áŠ áŠ«á‰£á‰¢ á‰¥áŠ­áˆˆá‰µ áŠáƒ áŠ¥áŠ•á‹²áˆ†...
...                                                  ...
67926  áˆ°á‰ áˆ­ á‹œáŠ“ :\n\ná‹°áˆ…áŠ“ áˆáŠ‘ áˆáŒ†á‰½! / RIP #ETHIOPIA | áŠ áˆ­á‰²áˆµ...
67932  á‹›áˆ¬ á‰ áˆ‚á‹ˆá‰µ áŠ«áˆ‹á‰½áˆ áŠáŒ‹á‰½áˆáŠ• áˆ›áˆµá‰°áŠ«áŠ¨áˆ á‰µá‰½áˆ‹áˆ‹á‰½áˆá¢ á‰ á‰µáŠ“áŠ•á‰µ á‹áˆµáŒ¥ áˆµáˆ‹...
67935  áˆ°á‹‰ á‹‰á‰ á‰±áŠ• áŠ¥áŠ•áŒ‚ á‰áŠ•áŒ…áŠ“á‹‰áŠ• áˆŠáˆáŒ¥áˆ­ áŠ á‹­á‰½áˆáˆ:: á‰°áˆáŒ¥áˆ® á‹¨áˆ°áŒ áŠ•áŠ• áŠ áŒ£áŒ¥...
67936  áŠ¢á‰µá‹®áŒµá‹«á‹ŠáŠá‰µ\n\náŠ¢á‰µá‹®áŒµá‹«á‹ŠáŠá‰µ á‰¥á‹™ á‹¨á‰°áˆˆá‹«á‹© áˆ€á‰¥áˆ¨á‰°áˆ°á‰¦á‰½ á‹¨á‰°á‹‹áˆ€á‹±á‰ á‰µ ...
67940  á‰³áˆªáŠ­ á‹¨áˆŒáˆˆá‹ áˆ…á‹á‰¥ á‰³áˆªáŠ«á‹Š áˆµáˆ« áˆˆáˆ˜áˆµáˆ«á‰µ áŠ á‹­áŒ“áŒ“áˆá¢ áŠáƒáŠá‰µáˆ á‹¨áˆ›á‹«á‹á‰… ...

[12010 rows x 1 columns]

In [29]:
#df_am["url"] = "http://t.me/tikvahethiopia"
df_am.insert(0, 'url', 'http://t.me/tikvahethiopia')
#df_am["source"]

#source

In [32]:
df_am.insert(0, "id", df_am.index)

ValueError: cannot insert id, already exists

In [34]:
df_am.insert(2, 'source', 'telegram')

In [35]:
df_am.insert(3, 'title', '')

In [37]:
df_am.insert(5, 'catagory', 'news')
df_am.head()

,id,url,source,title,Unnamed: 0,catagory
59,59,http://t.me/tikvahethiopia,telegram,,"ğŸ‡ªğŸ‡¹ á‹¨á–áˆˆá‰²áŠ« á“áˆ­á‰²á‹á‰½ áˆáŠ• á‹­áˆ‹áˆ‰ ? ğŸ‡ªğŸ‡¹\n\n"" áŒáŒ­á‰¶á‰½ áŠ¨á‰µáŠ•áˆ½ áŠáŒˆáˆ­ ...",news
130,130,http://t.me/tikvahethiopia,telegram,,"ğŸ‡ªğŸ‡¹ á‹¨á–áˆˆá‰²áŠ« á“áˆ­á‰²á‹á‰½ áˆáŠ• á‹­áˆ‹áˆ‰ ? ğŸ‡ªğŸ‡¹\n\n"" ... áŠ áˆáŠ•áˆ á‰¢áˆ†áŠ• áˆˆ...",news
241,241,http://t.me/tikvahethiopia,telegram,,""" á‰ 5á‰± áŠ®áˆªá‹°áˆ­ áˆáˆ›á‰µ áˆµáˆ« 16 áˆºáˆ… áˆ°á‹á‰½ á‹¨áˆµáˆ« áŠ¥á‹µáˆ á‰°áˆáŒ¥áˆ®áˆ‹á‰¸á‹‹áˆ ""...",news
897,897,http://t.me/tikvahethiopia,telegram,,#Update\n\náŠ¦áŠ­áˆáŠ­ áˆá‰°áˆ­áˆµ â€œáˆµáˆœáŠ• áŠ áŒ¥áá‰·áˆâ€ áˆ‹áˆˆá‹ á‰±áˆªáˆµá‰µ á‰³áŠ­áˆ² ...,news
1308,1308,http://t.me/tikvahethiopia,telegram,,#á‹°áˆ´\n\nâ€œ áŠ áŠ•á‹µ á‰€áŠ• á‹áˆ³áŠ” á‰°áˆ°áŒ¥á‰¶á‰£á‰¸á‹ áŠ¨áŠ áŠ«á‰£á‰¢ á‰¥áŠ­áˆˆá‰µ áŠáƒ áŠ¥áŠ•á‹²áˆ†...,news

In [38]:
df_am.insert(6, 'tags', '')

In [39]:
def count_words(text):
    if pd.isna(text):
        return 0
    return len(text.split())

df_am['word_count'] = df_am['Unnamed: 0'].apply(count_words)
df_am.head()

,id,url,source,title,Unnamed: 0,catagory,tags,word_count
59,59,http://t.me/tikvahethiopia,telegram,,"ğŸ‡ªğŸ‡¹ á‹¨á–áˆˆá‰²áŠ« á“áˆ­á‰²á‹á‰½ áˆáŠ• á‹­áˆ‹áˆ‰ ? ğŸ‡ªğŸ‡¹\n\n"" áŒáŒ­á‰¶á‰½ áŠ¨á‰µáŠ•áˆ½ áŠáŒˆáˆ­ ...",news,,576
130,130,http://t.me/tikvahethiopia,telegram,,"ğŸ‡ªğŸ‡¹ á‹¨á–áˆˆá‰²áŠ« á“áˆ­á‰²á‹á‰½ áˆáŠ• á‹­áˆ‹áˆ‰ ? ğŸ‡ªğŸ‡¹\n\n"" ... áŠ áˆáŠ•áˆ á‰¢áˆ†áŠ• áˆˆ...",news,,462
241,241,http://t.me/tikvahethiopia,telegram,,""" á‰ 5á‰± áŠ®áˆªá‹°áˆ­ áˆáˆ›á‰µ áˆµáˆ« 16 áˆºáˆ… áˆ°á‹á‰½ á‹¨áˆµáˆ« áŠ¥á‹µáˆ á‰°áˆáŒ¥áˆ®áˆ‹á‰¸á‹‹áˆ ""...",news,,145
897,897,http://t.me/tikvahethiopia,telegram,,#Update\n\náŠ¦áŠ­áˆáŠ­ áˆá‰°áˆ­áˆµ â€œáˆµáˆœáŠ• áŠ áŒ¥áá‰·áˆâ€ áˆ‹áˆˆá‹ á‰±áˆªáˆµá‰µ á‰³áŠ­áˆ² ...,news,,186
1308,1308,http://t.me/tikvahethiopia,telegram,,#á‹°áˆ´\n\nâ€œ áŠ áŠ•á‹µ á‰€áŠ• á‹áˆ³áŠ” á‰°áˆ°áŒ¥á‰¶á‰£á‰¸á‹ áŠ¨áŠ áŠ«á‰£á‰¢ á‰¥áŠ­áˆˆá‰µ áŠáƒ áŠ¥áŠ•á‹²áˆ†...,news,,408

In [40]:
df_am["language"] = "am"

In [41]:
df_am.head()

,id,url,source,title,Unnamed: 0,catagory,tags,word_count,language
59,59,http://t.me/tikvahethiopia,telegram,,"ğŸ‡ªğŸ‡¹ á‹¨á–áˆˆá‰²áŠ« á“áˆ­á‰²á‹á‰½ áˆáŠ• á‹­áˆ‹áˆ‰ ? ğŸ‡ªğŸ‡¹\n\n"" áŒáŒ­á‰¶á‰½ áŠ¨á‰µáŠ•áˆ½ áŠáŒˆáˆ­ ...",news,,576,am
130,130,http://t.me/tikvahethiopia,telegram,,"ğŸ‡ªğŸ‡¹ á‹¨á–áˆˆá‰²áŠ« á“áˆ­á‰²á‹á‰½ áˆáŠ• á‹­áˆ‹áˆ‰ ? ğŸ‡ªğŸ‡¹\n\n"" ... áŠ áˆáŠ•áˆ á‰¢áˆ†áŠ• áˆˆ...",news,,462,am
241,241,http://t.me/tikvahethiopia,telegram,,""" á‰ 5á‰± áŠ®áˆªá‹°áˆ­ áˆáˆ›á‰µ áˆµáˆ« 16 áˆºáˆ… áˆ°á‹á‰½ á‹¨áˆµáˆ« áŠ¥á‹µáˆ á‰°áˆáŒ¥áˆ®áˆ‹á‰¸á‹‹áˆ ""...",news,,145,am
897,897,http://t.me/tikvahethiopia,telegram,,#Update\n\náŠ¦áŠ­áˆáŠ­ áˆá‰°áˆ­áˆµ â€œáˆµáˆœáŠ• áŠ áŒ¥áá‰·áˆâ€ áˆ‹áˆˆá‹ á‰±áˆªáˆµá‰µ á‰³áŠ­áˆ² ...,news,,186,am
1308,1308,http://t.me/tikvahethiopia,telegram,,#á‹°áˆ´\n\nâ€œ áŠ áŠ•á‹µ á‰€áŠ• á‹áˆ³áŠ” á‰°áˆ°áŒ¥á‰¶á‰£á‰¸á‹ áŠ¨áŠ áŠ«á‰£á‰¢ á‰¥áŠ­áˆˆá‰µ áŠáƒ áŠ¥áŠ•á‹²áˆ†...,news,,408,am

In [43]:
import re
def extract_tags(text):
    tags = re.findall(r'#\w+', text)
    return ','.join(tags)

df_am['tags'] = df_am['Unnamed: 0'].apply(extract_tags)

In [44]:
df_am.head()

,id,url,source,title,Unnamed: 0,catagory,tags,word_count,language
59,59,http://t.me/tikvahethiopia,telegram,,"ğŸ‡ªğŸ‡¹ á‹¨á–áˆˆá‰²áŠ« á“áˆ­á‰²á‹á‰½ áˆáŠ• á‹­áˆ‹áˆ‰ ? ğŸ‡ªğŸ‡¹\n\n"" áŒáŒ­á‰¶á‰½ áŠ¨á‰µáŠ•áˆ½ áŠáŒˆáˆ­ ...",news,"#á‰ áŠáƒáŠá‰µ_á‰°áŠ•á‰€áˆ³á‰…áˆ°áŠ•,#áˆ˜áŠ«áŠ¨áˆˆáŠ›_áŒˆá‰¢,#áŠ á‰£áˆ‹á‰µáŠ•_áŠ ááˆ­á‰»áˆˆáˆ,#Tikvah...",576,am
130,130,http://t.me/tikvahethiopia,telegram,,"ğŸ‡ªğŸ‡¹ á‹¨á–áˆˆá‰²áŠ« á“áˆ­á‰²á‹á‰½ áˆáŠ• á‹­áˆ‹áˆ‰ ? ğŸ‡ªğŸ‡¹\n\n"" ... áŠ áˆáŠ•áˆ á‰¢áˆ†áŠ• áˆˆ...",news,"#áŠ¦áŒáŠ®,#áŠ¨áˆ˜áŒˆá‹³á‹°áˆ,#áˆ˜á‹°áˆ«á‹°áˆ­,#áŒá‹µá‹«,#áŠ¥áˆµáˆ«á‰µ,#á‰¥áˆáˆ¹_áŠ áˆ°áˆ«áˆ­áŠ“,#áˆ™áˆµáŠ“...",462,am
241,241,http://t.me/tikvahethiopia,telegram,,""" á‰ 5á‰± áŠ®áˆªá‹°áˆ­ áˆáˆ›á‰µ áˆµáˆ« 16 áˆºáˆ… áˆ°á‹á‰½ á‹¨áˆµáˆ« áŠ¥á‹µáˆ á‰°áˆáŒ¥áˆ®áˆ‹á‰¸á‹‹áˆ ""...",news,,145,am
897,897,http://t.me/tikvahethiopia,telegram,,#Update\n\náŠ¦áŠ­áˆáŠ­ áˆá‰°áˆ­áˆµ â€œáˆµáˆœáŠ• áŠ áŒ¥áá‰·áˆâ€ áˆ‹áˆˆá‹ á‰±áˆªáˆµá‰µ á‰³áŠ­áˆ² ...,news,"#Update,#áŠ¨áˆ„áˆ_á‰³áŠ­áˆ²,#áŠ¥á‹¨áˆ¸áŒ _áŠá‹",186,am
1308,1308,http://t.me/tikvahethiopia,telegram,,#á‹°áˆ´\n\nâ€œ áŠ áŠ•á‹µ á‰€áŠ• á‹áˆ³áŠ” á‰°áˆ°áŒ¥á‰¶á‰£á‰¸á‹ áŠ¨áŠ áŠ«á‰£á‰¢ á‰¥áŠ­áˆˆá‰µ áŠáƒ áŠ¥áŠ•á‹²áˆ†...,news,"#á‹°áˆ´,#á‰ªá‹²á‹®áˆ,#áŠ¨áˆ…á‹á‰¥_áˆ˜áŠ–áˆªá‹«,#áˆá‹²á‹á‹­,#TikvahFamilyAddisA...",408,am

In [46]:
df_am.rename(columns={'Unnamed: 0': 'text'}, inplace = True)

In [49]:
df_am.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12010 entries, 59 to 67940
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          12010 non-null  int64
 1   url         12010 non-null  object
 2   source      12010 non-null  object
 3   title       12010 non-null  object
 4   text        12010 non-null  object
 5   catagory    12010 non-null  object
 6   tags        12010 non-null  object
 7   word_count  12010 non-null  int64
 8   language    12010 non-null  object
dtypes: int64(2), object(7)
memory usage: 938.3+ KB

In [63]:
df_am['id'] = df_am['id'].astype(int)
df_am['url'] = df_am['url'].astype(str)
df_am['source'] = df_am['source'].astype(str)
df_am['title'] = df_am['title'].astype(str)
df_am['text'] = df_am['text'].astype(str)  # Assuming you meant 'text' instead of 'title'
df_am['catagory'] = df_am['catagory'].astype(str)
df_am['tags'] = df_am['tags'].astype(str)
df_am['word_count'] = df_am['word_count'].astype(int)
df_am['language'] = df_am['language'].astype(str)

In [64]:
df_am.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12010 entries, 59 to 67940
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          12010 non-null  int64
 1   url         12010 non-null  object
 2   source      12010 non-null  object
 3   title       12010 non-null  object
 4   text        12010 non-null  object
 5   catagory    12010 non-null  object
 6   tags        12010 non-null  object
 7   word_count  12010 non-null  int64
 8   language    12010 non-null  object
dtypes: int64(2), object(7)
memory usage: 938.3+ KB

In [67]:
df_am.to_csv('../../data/preprocessed.csv',index=False)

In [68]:
df_am.head()

,id,url,source,title,text,catagory,tags,word_count,language
59,59,http://t.me/tikvahethiopia,telegram,,"ğŸ‡ªğŸ‡¹ á‹¨á–áˆˆá‰²áŠ« á“áˆ­á‰²á‹á‰½ áˆáŠ• á‹­áˆ‹áˆ‰ ? ğŸ‡ªğŸ‡¹\n\n"" áŒáŒ­á‰¶á‰½ áŠ¨á‰µáŠ•áˆ½ áŠáŒˆáˆ­ ...",news,"#á‰ áŠáƒáŠá‰µ_á‰°áŠ•á‰€áˆ³á‰…áˆ°áŠ•,#áˆ˜áŠ«áŠ¨áˆˆáŠ›_áŒˆá‰¢,#áŠ á‰£áˆ‹á‰µáŠ•_áŠ ááˆ­á‰»áˆˆáˆ,#Tikvah...",576,am
130,130,http://t.me/tikvahethiopia,telegram,,"ğŸ‡ªğŸ‡¹ á‹¨á–áˆˆá‰²áŠ« á“áˆ­á‰²á‹á‰½ áˆáŠ• á‹­áˆ‹áˆ‰ ? ğŸ‡ªğŸ‡¹\n\n"" ... áŠ áˆáŠ•áˆ á‰¢áˆ†áŠ• áˆˆ...",news,"#áŠ¦áŒáŠ®,#áŠ¨áˆ˜áŒˆá‹³á‹°áˆ,#áˆ˜á‹°áˆ«á‹°áˆ­,#áŒá‹µá‹«,#áŠ¥áˆµáˆ«á‰µ,#á‰¥áˆáˆ¹_áŠ áˆ°áˆ«áˆ­áŠ“,#áˆ™áˆµáŠ“...",462,am
241,241,http://t.me/tikvahethiopia,telegram,,""" á‰ 5á‰± áŠ®áˆªá‹°áˆ­ áˆáˆ›á‰µ áˆµáˆ« 16 áˆºáˆ… áˆ°á‹á‰½ á‹¨áˆµáˆ« áŠ¥á‹µáˆ á‰°áˆáŒ¥áˆ®áˆ‹á‰¸á‹‹áˆ ""...",news,,145,am
897,897,http://t.me/tikvahethiopia,telegram,,#Update\n\náŠ¦áŠ­áˆáŠ­ áˆá‰°áˆ­áˆµ â€œáˆµáˆœáŠ• áŠ áŒ¥áá‰·áˆâ€ áˆ‹áˆˆá‹ á‰±áˆªáˆµá‰µ á‰³áŠ­áˆ² ...,news,"#Update,#áŠ¨áˆ„áˆ_á‰³áŠ­áˆ²,#áŠ¥á‹¨áˆ¸áŒ _áŠá‹",186,am
1308,1308,http://t.me/tikvahethiopia,telegram,,#á‹°áˆ´\n\nâ€œ áŠ áŠ•á‹µ á‰€áŠ• á‹áˆ³áŠ” á‰°áˆ°áŒ¥á‰¶á‰£á‰¸á‹ áŠ¨áŠ áŠ«á‰£á‰¢ á‰¥áŠ­áˆˆá‰µ áŠáƒ áŠ¥áŠ•á‹²áˆ†...,news,"#á‹°áˆ´,#á‰ªá‹²á‹®áˆ,#áŠ¨áˆ…á‹á‰¥_áˆ˜áŠ–áˆªá‹«,#áˆá‹²á‹á‹­,#TikvahFamilyAddisA...",408,am